html, body{
  width:100%;
  padding:0;
  margin:0%;
}

#main-image{
  width: 100%;
  height:100vh;
  background-color:aqua;
  background-image:url('/static/imgs/background_nuclear_plant.png');
  background-repeat:no-repeat;
  background-position: center center;
  background-size:cover;
}


.navbar a{
  text-decoration: none;
}

.margin-right a{
  color:black;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
