<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css">
    {% include 'formating.html' %}
    
  </head>

  <body>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>


    <div id='main-image'>

      <a href="#jumpmain">
      <img src="{{ url_for('static', filename='imgs/arrow.png') }}" id="bouncing_arrow"/>
      </a>
    </div>
    {% include 'navbar.html' %}


    

    <div id="maindiv">
      <h1 id="jumpmain">Who am I?</h1>
      <p> This is some text </p>

<br/>
      <h1> Our Mission </h1>
      <p> This is some text </p>

<br/>
<hr>
      <p> @STUY TECH NUCLEAR INC. all rights reserved</p>
      <hr>
      
    </div>
  </body>
</html>