<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css">
    {% include 'formating.html' %}

  </head>

  <body>
    <link async rel="preload" as="image" href="{{ url_for('static', filename='imgs/slideshow/teampic1.png') }}">
    <link async rel="preload" as="image" href="{{ url_for('static', filename='imgs/slideshow/teampic2.png') }}">
    <link async rel="preload" as="image" href="{{ url_for('static', filename='imgs/slideshow/teampic3.png') }}">
    <link async rel="preload" as="image" href="{{ url_for('static', filename='imgs/slideshow/teampic4.png') }}">
    <link async rel="preload" as="image" href="{{ url_for('static', filename='imgs/slideshow/teampic5.png') }}">
    <link async rel="preload" as="image" href="{{ url_for('static', filename='imgs/slideshow/teampic6.png') }}">
    <link async rel="preload" as="image" href="{{ url_for('static', filename='imgs/slideshow/teampic7.png') }}">
    {% if sequence == 1 %}
    <script defer src="{{ url_for('static', filename='js/walkthrough.js') }}">
    </script>
    {% endif %}

    {% if sequence == 2 %}
    <script defer src="{{ url_for('static', filename='js/walkthrough2.js') }}">
    </script>
    {% endif %}

    <div id='main-image'>
      {% if walkthrough == 1 %}
        {% include 'walkthrough.html' %}
      {% endif %}

      {% if walkthrough == 0 %}
      <script async src="{{ url_for('static', filename='js/index.js') }}"></script>
      <a href="#jumpmain">

      {% endif %}
      <img src="{{ url_for('static', filename='imgs/arrow.png') }}" id="bouncing_arrow"/>
      {% if walkthrough == 0 %}
      </a>
      {% endif %}
    </div>
    {% include 'navbar.html' %}


    <div id="maindiv">
      <p>* note pop-up windows blocker must be disabled for the best experience *</p>
      <h1>Who am I?</h1>
      <p> My name is Jason Jiang, Highschool Sophmore at Stuyvesant Highschool </p>
      <p>A stressed overworked being, Its nice to meet you!!!</p>
      <h3>Some quick facts</h3>
      <table id="myTable">
        <tr>

          <td id="maincells">
      <ul>
        <li> My favorite food is ice cream </li>
        <li> I love to dance, but can't dance </li>
        <li> I am a freak at a buffet, I WILL get my money's worth. A humble food vacuum at your service. </li>
        <li> I am a enviormental activist and current fencing team captain </li>
        <li> Also posted a pic that I used for my food project just because I can :))) -> </li>
      </ul>
          </td>
          <td id="maincells">
            <img id="myImg" src="{{ url_for('static', filename='imgs/loverice.jpg') }}" >
          </td>
          </tr>
      </table>
      <h3>Now come take a look around my website and learn more about who I am</h3>
      <br/>
      <h2>However... if you would prefer, I'll walk you through it :)))</h2>
      <p>if this you are the all mighty Mr Brooks plz click this button its where all the cool magic is
      </p>
      <!-- button to start walk through-->

<br/>
<a href="/?walkthrough=True&sequence=1#">
 <button id="walkthroughButton">Start Walkthrough</button>
</a>
<br/>
<hr>
    </div>
  </body>
</html>
