<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ i[0] }}</title>
    {% include 'formating.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/standard.css') }}", type="text/css">
  </head>
  <body>
    {% include 'navbar.html' %}

    <div id="maindiv">
      <!-- title -->
      <center><h1>{{ i[0]|safe }}</h1></center>
      <!-- Thank you to https://stackoverflow.com/questions/3206344/passing-html-to-template-using-flask-jinja2
      for showing me how to stop jinja from encoding the html tags-->
      <!-- test --> {{ imgpaths}}
      <!-- description of the page -->
      <div id="page-description">
        <p>{{ i[1]|safe }}</p>
      </div>
      {% if submit == True %}
      <h3> Review Submitted </h3>
      {% elif submit == False %}
      <h3> Please Fill in the Required Forms </h3>
      {% endif %}

      {% if contactme %}
      {% include 'reviewform.html' %}
      {% endif %}

      <!-- elements on the page -->
      <table id="maintable">
        {% for item in i[2] %}
        <tr>
          <td class="special">
        <div id="element-heading">
          <p> {{item[0]|safe}} </p>
        </div>
          </td>
          <td class="special" {% if not item[2] %} colspan="2" {% endif %}>
        <div id="element-description">
          <p> {{item[1]|safe}} </p>
        </div>
          </td>
          
          <td class="special"> 
        {% if item[2] %}
        <img id="element-img" src="{{item[2]}}"/>
        {% endif %}
          </td>
          
          </tr>
        {% endfor %}
      </table>
    </div>
  </body>

</html>
