<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Our Team</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}" type="text/css">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='imgs/favicon-32x32.png') }}">
  </head>

  <body>
    <!-- Nav bar goes here -->

    <div id = "maindiv">
      <center><h1>Our Team</h1></center>
      <table class="fill-max">
        <tr>
          <th> 
            <div class = "bubblecard">
            Leader: Esteak Shapin 
            <!-- card profile here -->
            </div>
          </th>
       
          <td>
            Younus 
            <!-- card profile here -->
          </td>
          <td>
            Jason Jiang
            <!-- card profile here -->
          </td>
        </tr>
        <tr>
          <td>
            Amanda Zhong
            <!-- card profile here -->
          </td>
          <td>
            Christopher Dou
            <!-- card profile here -->  
          </td>
          <td>
            William Woodruff
            <!-- card profile here -->
          </td>
        </tr>     
      </table>
    </div>


  </body>
</html>